.gradle/
.kotlin/
build/
**/build/
.idea/
*.iml
local.properties
.externalNativeBuild/
.cxx/
captures/
*.hprof
*.keystore
*.jks
*.apk
*.aab
/app/src/main/assets/server
/app/src/main/jniLibs/
.DS_Store
Thumbs.db
